# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
.venv/
venv/
*.csv

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Mac OS
.DS_Store